<!DOCTYPE html>
<html>
<style>
body{
	background: url('https://www.wallpaperup.com/uploads/wallpapers/2014/01/28/239499/6c63acfc1647703e84942612435b4007-700.jpg');
	background-position: fixed;
	text-align: center;	
}
h1{
	text-align: center;
	color: red;
}
a:link, a:visited {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}

a:hover, a:active {
  background-color: black;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>You dont have access to this page</h1>

<a th:href="@{/}">Back Home</a>
</body>
</html>